body {
    background-image: url("pink.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
h1 {
    color: black;
    font-family: Merriweather, serif;
    font-size: 3vw;
    padding: 0 16px;
    margin-left: 150px;

}
h2 {
    color: black;
    font-family: Merriweather, serif;
    font-size: 2.5vw;
    padding: 0 16px;
    margin-left: 150px;


}
h3 {
    color: black;
    font-family: Merriweather, serif;
    font-size: 2vw;
    padding: 0 16px;
    margin-left: 150px;


}
h4 {
    color: black;
    font-family: Merriweather, serif;
    font-size: 2.5vw;
    padding: 0 16px;
    margin-left: 150px;


}
h5 {
    color: black;
    font-family: Merriweather, serif;
    font-size: 2vw;
    padding: 0 16px;
    margin-left: 150px;


}
p {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2vw;
    padding: 0 16px;
    margin-right: 500px;
    margin-left: 150px;

}
p1 {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9vw;
    padding: 0 16px;
    margin-right: 500px;
    margin-left: 150px;
}

a {
    padding: 0px;
}
img{
    text-align: center;
    width:20vw;height:20vw;
}
.right {
    float: right;
    padding: 0 540px 0 10px;
    width:220px;height:265px
}

body {margin: 0;}
    
ul.topnav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:#333;
}

ul.topnav li {float: left;}

ul.topnav li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color:pink}

ul.topnav li a.active {background-color: purple;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 1300px){
    p {
        font-size: 1.5vw;
        margin-right: 400px;
        margin-left: 100px;
    }
    p1 {
        font-size: 1.1vw;
        margin-right: 400px;
        margin-left: 100px;
    }
    h1{
        font-size: 4vw;
        margin-left: 100px;

    }
    h2{
        font-size: 3vw;
        margin-left: 100px;

    }
    h3{
        font-size: 2.5vw;
        margin-left: 100px;

    }
    h4{
        font-size: 3vw;
        margin-left: 100px;

    }
    h5{
        font-size: 2.5vw;
        margin-left: 100px;

    }
    img{
        width:45vw;height:45vw;
    }
    .right {
        float: right;
        padding: 0 430px 0 5px;
        width: 30vw;height:37vw;

    }
}

@media screen and (max-width: 1200px){
    p {
        font-size: 2vw;
        margin-right: 350px;
        margin-left: 50px;
    }
    p1 {
        font-size: 1.4vw;
        margin-right: 350px;
        margin-left: 50px;
    }
    h1{
        font-size: 4vw;
        margin-left: 50px;

    }
    h2{
        font-size: 3vw;
        margin-left: 50px;

    }
    h3{
        font-size: 2.5vw;
        margin-left: 50px;

    }
    h4{
        font-size: 3vw;
        margin-left: 50px;

    }
    h5{
        font-size: 2.5vw;
        margin-left: 50px;

    }
    img{
        width:45vw;height:45vw;
    }
    .right {
        float: right;
        padding: 0 380px 0 5px;
        width: 25vw;height:30vw;

    }
}

@media screen and (max-width: 900px){
    p {
        font-size: 2.5vw;
        margin-right: 0px;
        margin-left: 40px;
    }
    p1 {
        font-size: 1.9vw;
        margin-right: 0px;
        margin-left: 40px;
    }
    h1{
        font-size: 5vw;
        margin-left: 40px;

    }
    h2{
        font-size: 4vw;
        margin-left: 40px;

    }
    h3{
        font-size: 3vw;
        margin-left: 40px;

    }
    h4{
        font-size: 4vw;
        margin-left: 40px;

    }
    h5{
        font-size: 3vw;
        margin-left: 40px;

    }
    img{
        width:60vw;height:60vw;
    }
    .right {
        float: right;
        padding: 0 20px 0 0;
        width: 30vw;height:36vw;

    }
}
@media screen and (max-width: 800px){
    .right {
        float: right;
        padding: 0 20px 0 5px;
        width: 30vw;height:36vw;

    }
}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}

        p {
            font-size: 3vw;
            margin-right: 0px;
            margin-left: 0px;

        }
        p1 {
            font-size: 2.3vw;
            margin-right: 0px;
            margin-left: 0px;

        }
        h1{
            font-size: 6vw;
            margin-left: 0px;

        }
        h2{
            font-size: 5vw;
            margin-left: 0px;

        }
        h3{
            font-size: 4vw;
            margin-left: 0px;

        }
        h4{
            font-size: 5vw;
            margin-left: 0px;

        }
        h5{
            font-size: 4vw;
            margin-left: 0px;

        }
        .right {
            float: right;
            padding: 0 15px 0 5px;
            width: 40vw;height:48vw;

        }
        img{
            width:70vw;height:70vw;
        }
}



