body {
    background-image: url("night.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
h1 {
    color: white;
    font-family: Merriweather, serif;
    font-size: 2.5vw;
    padding: 0 16px;
    margin-left: 150px;
}
h2 {
    color: white;
    font-family: Merriweather, serif;
    font-size: 2vw;
    padding: 0 16px;
    margin-left: 150px;
}
h3 {
    color: white;
    font-family: Merriweather, serif;
    font-size: 2.5vw;
    padding: 0 16px;
    margin-left: 150px;
}
h4 {
    color: white;
    font-family: Merriweather, serif;
    font-size: 2vw;
    padding: 0 16px;
    margin-left: 150px;
}

p {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2vw;
    padding: 0 16px;
    margin-right: 500px;
    margin-left: 150px;
}

a {
    padding-left: 150px;
    padding-right: 0px;
}

body {margin: 0;}
    
ul.topnav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: purple;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 1300px){
    p {
        font-size: 1.5vw;
        margin-right: 400px;
        margin-left: 100px;
    }
    h1{
        font-size: 3vw;
        margin-left: 100px;

    }
    h2{
        font-size: 2.5vw;
        margin-left: 100px;

    }
    h3{
        font-size: 3vw;
        margin-left: 100px;

    }
    h4{
        font-size: 2.5vw;
        margin-left: 100px;

    }
    a {
        margin-left: 0px;
        padding-left: 105px;
    }
}

@media screen and (max-width: 1200px){
    p {
        font-size: 2vw;
        margin-right: 350px;
        margin-left: 50px;
    }
    h1{
        font-size: 3.3vw;
        margin-left: 50px;

    }
    h2{
        font-size: 2.7vw;
        margin-left: 50px;

    }
    h3{
        font-size: 3.3vw;
        margin-left: 50px;

    }
    h4{
        font-size: 2.7vw;
        margin-left: 50px;

    }
    a {
        margin-left: 0px;
        padding-left: 57px;
    }

}

@media screen and (max-width: 900px){
    p {
        font-size: 2.5vw;
        margin-right: 0px;
        margin-left: 40px;
    }
    h1{
        font-size: 4vw;
        margin-left: 40px;

    }
    h2{
        font-size: 3vw;
        margin-left: 40px;

    }
    h3{
        font-size: 4vw;
        margin-left: 40px;

    }
    h4{
        font-size: 3vw;
        margin-left: 40px;

    }
    a {
        margin-left: 0px;
        padding-left: 45px;
    }
}

@media screen and (max-width: 600px) {
ul.topnav li.right, 
ul.topnav li {float: none;}

p {
    font-size: 3.5vw;
    margin-right: 0px;
    margin-left: 0px;

}
h1{
    font-size: 5.5vw;
    margin-left: 0px;

}
h2{
    font-size: 4vw;
    margin-left: 0px;

}
h3{
    font-size: 5.5vw;
    margin-left: 0px;

}
h4{
    font-size: 4vw;
    margin-left: 0px;

}
a {
    margin-left: 0px;
    padding-left: 9px;
    padding-right: 16px;
}
@media screen and (max-width: 300px) {
    
    p {
        font-size: 3vw;
        margin-right: 0px;
        margin-left: 0px;
    
    }
    h1{
        font-size: 4vw;
        margin-left: 0px;
    
    }
    h2{
        font-size: 3.5vw;
        margin-left: 0px;
    
    }
    h3{
        font-size: 4vw;
        margin-left: 0px;
    
    }
    h4{
        font-size: 43.5w;
        margin-left: 0px;
    
    }
    a {
        margin-left: 0px;
        padding-left: 9px;
        padding-right: 16px;
    }
}